@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --light-white:rgba(255,255,255,.5);
    --light-black:rgba(0,0,0,.3);
    --black:rgba(0,0,0,.7);
    --light-bg:rgba(255,255,255,.1);
    --surface-variant:hsl(218,8%,28%);
    --background:hsl(210,7%,11%);
}
*{
    margin: 0;padding: 0;
    border: none;outline: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
body{
    background:linear-gradient(transparent,transparent 100%),url(/image/gato-de-botas.webp) no-repeat transparent ;  
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    backdrop-filter: blur(0.6rem);
    overflow-x: hidden;
    width: 100vw;
    height: 290vh; 
} 
body:is(:hover,:focus-visible)::-webkit-scrollbar-thumb{
    background-color: var(--surface-variant);
}
section{
     margin: .5rem auto; 
     max-width: 1200px;
}
html{
    font-size: 65.2%;
  
}
::-webkit-scrollbar{width: 6px;}

::-webkit-scrollbar-track{background-color: transparent;}

::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 8px;
}
.container{
    height: 100vh; 
}

.heading{
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px #000;
    
}
.header .head{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 4rem;
    color: #fff;
    
}
.header .head .search{
    display: flex;
    justify-content: end;
    align-items: center;
    background: var(--light-black); 
    width: 28rem;
    height: 2.5rem;
    border-radius: .5rem;
}
.header .head .search input{
    height: 100%;
    width: 100%;
    padding: .5rem;
    text-transform: none;
    color: #fff;
    background-color: transparent;

}
.header .head .search i{
    margin-right: .3rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.header .head .search ::placeholder{
    color: #fff;
}
.header .head .bell{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 12rem;
    height: 1.8rem;
    border-radius: .5rem;
    background: var(--light-black);
    cursor: pointer;
}
.header .head .bell span{
    font-size: 1.1rem;
}
.header .head .bell i{
   font-size: 1.1rem;
   margin: 0 1rem ;
}
.header .head .user{
    display: flex;
    justify-content: end;
    align-items: center;
    background: var(--light-black);
    width: 12rem;
    height: 2.5rem;
    border-radius: .5rem;
    cursor: pointer;
}
.header .head .user span{
    font-size:1.2rem ;
}
.header .head .user i{
    font-size: 2rem;
    margin: 0 .7rem;
}
/* inicio home  */
 .home{
    display: flex;
    align-items: end;
    justify-content: center;
    background:linear-gradient(360deg,#000,transparent 40%),url(/image/gato-de-botas.webp) no-repeat ;
    background-position: center;
    background-size:cover;
    border-radius: .5rem;
    height: 75%;
    overflow: hidden;
    border: 2px solid #fff;
}
.home .content{
    text-align: center;
    max-width:60rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}
.home .content h1{
    text-transform: none;
    font-size: 3rem;
    color: #fff;
}
.home .content p{
    font-size: 1.5rem;
    color: #fff;
}
/* inico carrousel filmes*/

.slider{
    --slider-items:5;
  
    position: relative;
    width: 100%;
    padding-inline: 16px;
    overflow-x: hidden;
    margin-top: 7rem;
    
  }
.slider::before,
.slider::after{
    content:"";
    position: absolute;
    top: 0;
    width: 24px;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(to var(--gr-direction,right), var(--light-white) 0%, transparent 100%);
  }
  
  .slider::before{left:0;}
  
  .slider::after{
    right: 0;
    --gr-direction:left;
  }
  
  .slider .slider-container{
    position: relative;
    display: flex;
    justify-content: flex-start;
    transition: transform 250ms ease;
   
  }
  
  .slider .slider-container .slider-item{
    min-width: calc(100% / var(--slider-items));
    width: calc(100% / var(--slider-items));
    padding-inline: 4px;
  }
  
  .slider-item .card{
    background-color: var(--surface-variant);
    border-radius: .5rem;
    overflow: hidden;
  }
  
   .img-holder{
    aspect-ratio: var(--width) / var(--height);
  
  }
  
  .img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn-icon{
    width: 40px;
    height: 40px;
    background-color:var(--black);
    color: #ffff;
    font-size: 2.4rem;
    display: grid;
    place-items:center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 2px hsl(0, 0%, 0%, 0.5);
  }
  
  .slider-control{
    position: absolute;
    top: 38.5%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .slider-control.prev{left: 0;}
  .slider-control.next{right: 0;}
  
  .slider-control:disabled {display: none;}
  




























/* media querie */

@media(max-width:991px){
    html{
        font-size: 55%;
    }
  
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    
}